	body{
		background: #ccc;
		font-family: verdana;
		max-width: 900px;
		margin: auto;
	}
	
	#title, .subtitle, .post_title {
		color: #505050;
	}
	
	#title{
		font-size: 40px;
		text-transform: uppercase;
	}
	
	.photo {
		width: 100px;
		height: 105px;
		border-radius: 50%;
		border: 1px solid #505050;
		margin: 20px;
	}
	
	.post_title {
		font-size: 16px;
		font-style: italic;
		margin: 0;
		margin-bottom: 15px;
		text-transform: capitalize;
	}
	
	.post {
		background: #ffff;
		padding: 10px;
		border: 3px solid #505050;
		margin: 0px;
		border-radius: 20px;
		margin-bottom: 15px;
	}
	
	.post_content {
		margin: 0;
		margin-bottom: 15px;
		text-transform: capitalize;
		text-align: justify;
		
	}
	
	.post_image {
		margin-bottom: 15px;
		width: 100%;
		
	}
	
	/* 
	a
	{
		text-decoration: line-through;
		color: #505050;
	{
		
	*/
		
	.contact_list {
		list-style-type: none;
		padding-left: 15px;

	}
	
	.contact_list li a {
		text-decoration: none;
		color: #505050;
	}